[submodule "Libraries/Catch2"]
	path = Libraries/Catch2
	url = git@github.com:catchorg/Catch2.git
[submodule "Libraries/readerwriterqueue"]
	path = Libraries/readerwriterqueue
	url = git@github.com:cameron314/readerwriterqueue.git
